<h1>{{pageData.h1title}}</h1>
<hr>
<div class="row">
	<div class="col-md-4">
		<h1>h1 title</h1>
		<h2>h2 title</h2>
		<h3>h3 title</h3>
		<h4>h4 title</h4>
		<h5>h5 title</h5>
		<p>simple paragraph</p>
		<p><i>italic text</i></p>
		<p><strong>strong text</strong></p>
		<p><small>small text</small></p>
	</div>
	<div class="col-md-8">
		<p><button class="btn btn-lg">Large</button>
		<button class="btn">Normal</button>
		<button class="btn btn-sm">Small</button></p>
		<p><button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-secondary">Secondary</button>
		<button type="button" class="btn btn-success">Success</button>
		<button type="button" class="btn btn-danger">Danger</button>
		<button type="button" class="btn btn-warning">Warning</button>
		<button type="button" class="btn btn-info">Info</button>
		<button type="button" class="btn btn-light">Light</button>
		<button type="button" class="btn btn-dark">Dark</button></p>
		<p><button type="button" class="btn btn-outline-primary">Primary</button>
		<button type="button" class="btn btn-outline-secondary">Secondary</button>
		<button type="button" class="btn btn-outline-success">Success</button>
		<button type="button" class="btn btn-outline-danger">Danger</button>
		<button type="button" class="btn btn-outline-warning">Warning</button>
		<button type="button" class="btn btn-outline-info">Info</button>
		<button type="button" class="btn btn-outline-light">Light</button>
		<button type="button" class="btn btn-outline-dark">Dark</button></p>

	</div>

</div>