<div class="row">
	<div class="panel-group">
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-info ">
				<div class="panel-heading">Welcome to Frygia!</div>
					<div class="panel-body">
						<p class="">Made from scrach using Angular and jQuery.</p>
					</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-success ">
				<div class="panel-heading">Responsiveness</div>
					<div class="panel-body">
						<p class="">Using Bootsrap 4.1 for responsiveness and user experience.</p> 
					</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-warning">
				<div class="panel-heading">Visualisation</div>
					<div class="panel-body">
			 			<p class="">I used Google Charts to display most of the data in this.</p>
					</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">Data</div>
					<div class="panel-body">
					<p class="">There are totaly {{ peopleTotal }} dummy users to play with!</p>
					</div>
			</div>
	</div>
</div>