<div class="card-group">
	<div class="card bg-primary text-white col-md-6 col-lg-3 ">
		<div class="card-header">Welcome to Frygia!</div>
		<div class="card-body">
			<h5 class="card-title">JavaScript</h5>
			<p class="card-text">Made from scrach using Angular and jQuery.				
			</p>
		</div>
	</div>
	<div class="card bg-info text-white col-lg-3 col-md-6">
		<div class="card-header">Responsiveness</div>
		<div class="card-body">
			<h5 class="card-title">Bootstrap</h5>
			<p class="card-text">Using Bootsrap 4.1 for responsiveness and user experience.</p>
		</div>
	</div>
	<div class="card bg-danger text-white col-lg-3 col-md-6">
		<div class="card-header">Visualisation</div>
		<div class="card-body">
			<h5 class="card-title">Google Charts</h5>
			<p class="card-text">I used Google Charts to display most of the data in this.</p>
		</div>
	</div>
	<div class="card bg-success text-white col-lg-3 col-md-6">
		<div class="card-header">Data</div>
		<div class="card-body">
			<h5 class="card-title">Generated Content</h5>
			<p class="card-text">There are totaly {{ peopleTotal }} dummy users to play with!</p>
		</div>
	</div>
</div>