<div class="row">
	<div class="card bg-primary col-md-3">
		<div class="card-header">Total Users</div>
		<div class="card-body">There are totaly {{ peopleTotal }} users in the system!</div>
	</div>
	<div class="card bg-info col-md-3">
		<div class="card-header">Header</div>
		<div class="card-body">Body</div>
	</div>
	<div class="card bg-danger col-md-3">
		<div class="card-header">Header</div>
		<div class="card-body">Body</div>
	</div>
	<div class="card bg-success col-md-3">
		<div class="card-header">Header</div>
		<div class="card-body">Body</div>
	</div>	
</div>