.navbarOptions {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	list-style: none;
	line-height: 34px;
}
.navbarOptions li{
	padding-left: 10px;
}

.logo {
	padding: 0px 0px 4px 14px;
    text-decoration: none;
    font-size: 25px;
    color: #e4e4e4;
    display: block;
}