<div class="mobileNav">
	<div class="mobLogo">
		Frygia
	</div>
	<div class="mobNavIcon dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
	    <ul class="dropdown-menu">
			<li><a routerLink = "dashboard" href="#">Dashboard</a></li>
			<li><a routerLink = "tables" href="#">Tables</a></li>
			<li><a routerLink = "forms" href="#">Forms</a></li>
			<li><a routerLink = "profile" href="#">Profile</a></li>
			<li><a routerLink = "calendar" href="#">Calendar</a></li>
			<li><a routerLink = "map" href="#">Map </a></li>
			<li><a routerLink = "p404" href="#">404</a></li>
			<li><a routerLink = "p404" href="#">403</a></li>
			<li><a href="#">Typography</a></li>
			<li><a href="#">Article</a></li>
			<li><a href="#">Charts</a></li>
			<li><a href="#">UI Elements</a></li>
			<li><a href="#">Multi Level Dropdown</a></li>
			<li><a href="#">Sample Pages</a></li>
			<li><a href="#">About</a></li>
			<li><a routerLink = "login" href="#">Login</a></li>
        </ul>
	</div>
</div>
<div class="sidebarWrapper" id="sidebar">
	<div class="logo">
		Frygia
	</div>
	<ul class="sidebarOptions">
		<li><a routerLink = "dashboard" href="#">Dashboard</a></li>
		<li><a routerLink = "tables" href="#">Tables</a></li>
		<li><a routerLink = "forms" href="#">Forms</a></li>
		<li><a routerLink = "profile" href="#">Profile</a></li>
		<li><a routerLink = "calendar" href="#">Calendar</a></li>
		<li><a routerLink = "map" href="#">Map </a></li>
		<li><a routerLink = "p404" href="#">404</a></li>
		<li><a routerLink = "p404" href="#">403</a></li>
		<li><a href="#">Typography</a></li>
		<li><a href="#">Article</a></li>
		<li><a href="#">Charts</a></li>
		<li><a href="#">UI Elements</a></li>
		<li><a href="#">Multi Level Dropdown</a></li>
		<li><a href="#">Sample Pages</a></li>
		<li><a href="#">About</a></li>
		<li><a routerLink = "login" href="#">Login</a></li>
	</ul>
</div>

