<div class="sidebarWrapper bg-dark">
	<div class="logo">
		Frygja
	</div>
	<ul class="sidebarOptions">
		<li><a routerLink = "dashboard" href="#">Dashboard</a></li>
		<li><a routerLink = "table" href="#">Table</a></li>
		<li><a routerLink = "calendar" href="#">Calendar</a></li>
		<li><a routerLink = "map" href="#">Map </a></li>
		<li><a routerLink = "p404" href="#">404</a></li>
		<li><a routerLink = "p404" href="#">403</a></li>
		<li><a href="#">Typography</a></li>
		<li><a href="#">Form</a></li>
		<li><a href="#">Profile</a></li>
		<li><a href="#">Article</a></li>
		<hr>
		<li><a href="#">Dashboard</a></li>
		<li><a href="#">Charts</a></li>
		<li><a href="#">Tables</a></li>
		<li><a href="#">Forms</a></li>
		<li><a href="#">UI Elements</a></li>
		<li><a href="#">Multi Level Dropdown</a></li>
		<li><a href="#">Sample Pages</a></li>
		<hr>
		<li><a href="#">About</a></li>
		<li><a routerLink = "login" href="#">Login</a></li>
	</ul>
</div>
