.mainContainer {
	/*position: relative;/*
	background-color: white !important;
	/*left: 170px;*/
	/*width: 100%;*/
    
    /*transition: margin-left .5s;
    padding: 16px;*/

    margin-left: 200px; /* Same as the width of the sidenav */
}

.loginCard {
	max-width: 400px;
}