
<span *ngIf =" isAuthorised; then loggedin else notloggedin">Authenticating... </span>

<ng-template #notloggedin>
  <!-- <div class="formContainer"> -->
  	<div class="loginContainer">
	  	<div class="card loginCard mx-auto mt-5">
	  	<div class="card-header">Login</div>
	  	<div class="card-body">
	  		<form>
		  		<div class="form-group">
				    <label for="uname"><b>Username</b></label>
				    <input type="text" placeholder="Enter Username" name="uname" required>
				</div>
				<div class="form-group">
				    <label for="psw"><b>Password</b></label>
				    <input type="password" placeholder="Enter Password" name="psw" required>
				</div>

			    <button class="btn btn-info" (click)="loginFunction($event)" type="submit">Login</button>
		  	</form>
		</div>
	        <!-- <form>
	          <div class="form-group">
	            <label for="exampleInputEmail1">Email address</label>
	            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
	          </div>
	          <div class="form-group">
	            <label for="exampleInputPassword1">Password</label>
	            <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
	          </div>
	          <div class="form-group">
	            <div class="form-check">
	              <label class="form-check-label">
	                <input class="form-check-input" type="checkbox"> Remember Password</label>
	            </div>
	          </div>
	          <a class="btn btn-primary btn-block" href="index.html">Login</a>
	        </form>
	        <div class="text-center">
	          <a class="d-block small mt-3" href="register.html">Register an Account</a>
	          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
	        </div> -->
	<!--   	<p>A free Angular admin template!</p>
		<small>Just login... doesn't matter what you'll type ;)</small> -->
	 <!--  	<div class="loginForm">
		</div> -->
	<!-- 	<form>
	  <div class="input-group">
	    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
	  </div>
	  <div class="input-group">
	    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
	  </div>
	  <div class="input-group">
	    <span class="input-group-addon">Text</span>
	    <input id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info">
	  </div>
	</form> -->
	</div>
  </div>
</ng-template>

<ng-template #loggedin>
		<app-navbar></app-navbar>
		<app-sidebar></app-sidebar>

		<app-table></app-table>
	<div class="mainContainer">	
	</div>
</ng-template>