.container {
    margin-left: 260px;
    width: auto;
    max-width: 100%;
}

.loginCard {
	max-width: 400px;
}



/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) { .container { background-color: red; } }*/

 /*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
	.container { 
		/*background-color: green; */
		margin-left: 0px;
		} 
}

/*Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { .container { background-color: blue; } }*/

/* Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { .container { background-color: orange; } }*/