.sidebarWrapper {
      z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul.sidebarOptions {
    padding-left: 0px;
}


.sidebarWrapper a {
    padding: 0px 0px 4px 14px;
    border: 1px solid blue;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebarWrapper a:hover {
	background-color: #010101;
}


.sidebarOptions {
	color: #ffffff;
	list-style: none;
}






