.logo {
    padding: 4px 0px 12px 16px;
    text-decoration: none;
    font-size: 28px;
    color: #e4e4e4;
    line-height: 1.7em;
    border-bottom: 1px solid gray;
}


.sidebarWrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul.sidebarOptions {
    padding-left: 0px;
    padding-top: 20px;
}


.sidebarWrapper a {
    padding: 0px 0px 4px 14px;
    text-decoration: none;
    font-size: 18px;
    color: #e4e4e4;
    display: block;
    line-height: 1.7em;

}

.sidebarWrapper a:hover {
	background-color: #4c4f52;
}


.sidebarOptions {
	color: #ffffff;
	list-style: none;
}


