<div class="panel panel-default">
  <div class="panel-heading">Various Statistics</div>
  <div class="panel-body">
  	Total Users: {{ totalUsers }}<br/>
  	Total Active Users: {{ peopleActive }}<br/>
  	<br/>
  	Highest Revenue: {{ highestRevenue}} by {{ highestRevenueUser.name.first }} {{ highestRevenueUser.name.last }}<br/>
  	<br/>
  	Lowest Revenue: {{ lowestRevenue}} by {{ lowestRevenueUser.name.first }} {{ lowestRevenueUser.name.last }}<br/>
  	<br/>
  	Total Revenue: {{ totalRevenue }}	
  </div>
</div>

